!!! 5
%html
  = partial '/partials/head'  
  %body{:class => page_classes}
    %header
      = partial '/partials/header'  
    %section(role="content")
      = yield
    .clear
    %footer
      = partial '/partials/footer'  
  
  = partial 'partials/script-embed'