.tile4#date
  %h2 Sat, Nov 10 2012. Hamburg, Germany.


.copy.tile2.normal.exp#what-is-agile
  %h2 what is agile?
  .content
    = partial '/content/what-is-agile'


.copy.tile2.normal.exp#all-of-us
  %h2 it's about all of us!
  .content
    %p When it comes to Agile, the case seems to be clear: It's on everyone's lips. Everyone has an idea what it's about. We all love the attitude. We all believe we practice – at least tiny bits – of it in our day-to-day work life. However, surprisingly few work teams thoroughly live and breathe agile. Especially when it comes to the areas of concept and design, the waterfall is dripping down our processes. 


.tile2.exp#location
  %h2.large Location
  .content
    %p 
      <iframe width="250" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.de/maps?f=q&amp;source=s_q&amp;hl=de&amp;geocode=&amp;q=Millerntorplatz+1,+20359+Hamburg&amp;aq=&amp;sll=53.550379,9.968644&amp;sspn=0.080059,0.191917&amp;ie=UTF8&amp;hq=&amp;hnear=Millerntorplatz+1,+20359+Hamburg&amp;t=m&amp;ll=53.551578,9.969149&amp;spn=0.012748,0.021372&amp;z=14&amp;output=embed"></iframe><br /><small><a href="https://maps.google.de/maps?f=q&amp;source=embed&amp;hl=de&amp;geocode=&amp;q=Millerntorplatz+1,+20359+Hamburg&amp;aq=&amp;sll=53.550379,9.968644&amp;sspn=0.080059,0.191917&amp;ie=UTF8&amp;hq=&amp;hnear=Millerntorplatz+1,+20359+Hamburg&amp;t=m&amp;ll=53.551578,9.969149&amp;spn=0.012748,0.021372&amp;z=14" style="color:#0000FF;text-align:left">Größere Kartenansicht</a></small>

    %p
      Acando GmbH
      %br
      Millerntorplatz 1
      %br
      20359 hamburg
  
%a{:href => "http://agiledesigncamp.wufoo.com/forms/z7x3p9/", :onclick => "window.open(this.href,  null, 'height=937, width=680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false"}
  .tile2#register
    %h2.large
      Register

.copy.tile2.normal.exp
  %h2 what is a barcamp?
  .content
    = partial '/content/barcamp'

.copy.tile2.normal.exp
  %h2 Who should join?
  .content
    = partial '/content/join'



.tile4.exp
  %h2 Timetable
  .content
    = partial '/content/timetable'
    
.tile2#contact
  =link_to 'Twitter', 'http://twitter.com/agiledesigncamp'
  \| 
  =link_to 'Lanyrd', 'http://lanyrd.com/2012/agiledesigncamp/'
  \| 
  =link_to 'Tweetlr', 'http://agiledesigncamp.tumblr.com'
  \|
  =link_to 'Email', 'mailto:orga_at_agiledesigncamp.org'
  
.tile2.exp#team
  %h2 Team
  .content
    %p
      The Camp is organized by #{link_to 'Rike Schmiedebach', 'http://twitter.com/miss_r_e'}, #{link_to 'Sven Kräuter', 'http://makingthingshappen.de/'}, #{link_to 'Liron Tocker', 'http://liron.de'}, #{link_to 'Matthias Bauer', 'http://moeffju.net'} and #{link_to 'Fabian Fabian', 'http://fabianfabian.net'}.

.tile2#sessions.exp
  %h2 Sessions
  .content
    %p
      Can you hold a session?
      =link_to 'Tell us about it', 'mailto:orga_at_agiledesigncamp.org?subject=Sessionidea'
      and we will put it right here.

.tile2.exp#kids
  %h2 Got kids? We got day care!
  .content
    %p 
      Just 
      =link_to 'tell us how many and what age', 'mailto:orga_at_agiledesigncamp.org?subject=About that day care at the Agile Design Camp'
      they are.

.tile4#sponsors
  %h2 sponsors
  = partial '/content/sponsors'

  %p
    =link_to 'Want to sponsor, too?', 'mailto:orga_at_agiledesigncamp.org?subject=sdsd&body=Hi'
